@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.nav-color{
    background-color: #f58de7;
}

.brand-name{
    padding-left: 20px;
}

.nav-links{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 50px;
}

.nav-link-item{
    color: rgb(10, 11, 14) !important;
    margin-left: 25px;
    font-weight: bold;
    font-size: large;
}

.cart{
    font-size: 1.5em;
}

.cart:hover{
    cursor: pointer;
    color: rgb(78, 78, 78);
}

.cart-div{
    margin-right: 20px;
}

.search-form{
    margin-left: 1rem ;
    margin-right: 2rem ;
}

.search-bar:focus{
  border-color: #ff53ff !important;
  box-shadow: 2px 2px 10px #ff00aae3 !important;
}